<nz-form-item *ngFor="let field of formData.controls; let fieldIdx = index" [formGroup]="$any(field)">
  <nz-form-control [nzSm]="3" [nzXs]="24">
    <nz-select class="filter-field" nzDropdownClassName="filter-field-dropdown" formControlName="fieldName">
      <nz-option *ngFor="let opt of filterFields | fieldExclude: formData.value: fieldIdx" [nzValue]="opt"
        [nzLabel]="opt.label">
      </nz-option>
    </nz-select>
  </nz-form-control>
  <nz-form-control>
    <ng-container *ngIf="field.get('fieldName')?.value?.type === 'select'; else default">
      <nz-select formControlName="fieldValue" class="field-input">
        <nz-option nzValue="test" nzLabel="test"></nz-option>
      </nz-select>
    </ng-container>
    <ng-template #default>
      <input nz-input formControlName="fieldValue" class="field-input">
    </ng-template>
    <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(fieldIdx)"></i>
  </nz-form-control>
</nz-form-item>

<nz-form-item>
  <nz-form-control [nzSpan]="21" [nzOffset]="3">
    <button nz-button nzType="link" (click)="addField()"
      [disabled]="filterFields.length === formData.controls.length">Add Field</button>
  </nz-form-control>
</nz-form-item>
