<form nz-form [formGroup]="formData">
  <nz-collapse formArrayName="filters">
    <nz-collapse-panel nzHeader="Hello" nzActive="true" *ngFor="let filter of filtersGroup.controls; let i = index"
      [nzExtra]="panelHeader">
      <app-filter [formGroupName]="i"></app-filter>
      <ng-template #panelHeader>
        <button nz-button nzType="link" (click)="removeFilter(i, $event)">Delete</button>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>

  <button nz-button nzBlock (click)="addFilter()">Add Filter</button>
</form>

<pre>
  {{ formData.value | json }}
</pre>
